.home{
  align-items: center;
  justify-content: center;
}
.gray{
  background: #C4C4C4;
  border: none;
  color: #000000;
}
p.gray{
  margin-left: 10px;
  padding: 2px 11px;
}
.inptBig{
  width: 341px;
  height: 40px;
  margin: 6px;
}
.inptSmall{
  width: 144px;
height: 40px;
}
.column{
  display: flex;
  flex-direction: column;
}
.row{
  display: flex;
  flex-direction: row;
}
.smallLabel{
  margin-right: 19px;
}
